.wrapper
{
    border-radius: 15px;
    min-height: 300px;
    border: solid 3px white;
    margin:10px;
    text-align: center;
    padding-top: 50px;
    font-size: 90px;
}

.wrapper:hover
{
    box-shadow: #fec222 -2px 5px 10px 5px;
}
.heading
{
    margin-bottom: 20px;
}